.box{
    background-color: aqua;
    color: coral;
    border: solid 2px;
    padding: 50px;
    margin: 100px;
}
.box1{
    background-color: aqua;
    color: coral;
    border: solid 2px;
    padding: 30px 40px;
    margin: 70px 80px;
}
.box2{
    background-color: aqua;
    color: coral;
    border: solid 2px;
    padding: 30px 40px 50px 60px ;
    margin: 70px 80px 90px 100px;
}
